body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.headerbutton {
  position: absolute;
  font-weight: bold;
  bottom: 1vw;
  right: 0vw;
  -webkit-border-radius: 3.5vw;
  line-height: 3.3vw;
  color: black;
  background-color: #2486e9;
  width: 11%;
  text-align: center;  
  border: white 1px solid ;    
}


.back-btn {
position: absolute;
    font-weight: bold;
    right: 0vw;
    -webkit-border-radius: 3.5vw;
    line-height: 3.3vw;
    color: black;
    background-color: #2486e9;
    width: 11%;
    text-align: center;
    border: white 1px solid;
}